<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        main{
            height: 80vh;
            text-align: center;
        }
        main > a{
            text-decoration: underline;
            color: #dad7cd;
        }
        main > a:hover{
            opacity: 0.5;
        }
    </style>
</head>
<body>
    <header>
        {% if city %}
        <h2>{{ city }}</h2>
        {% else %}
        <h2>CITY</h2>
        {% endif %}
        <h1>WEATHER APP</h1>
        <a href="/"><h2>REFRESH</h2></a>
    </header>
    <main>
        <h1>MISSING PAGE</h1><br>
        <a href="/">RETURN TO MAIN PAGE</a>
    </main>
    <footer>
        Made by F4s0lix<br>
        Designed by Mokryszczur
    </footer>
    <script>
        // possible scrolling
        var scrollableContainer = document.getElementById('weather-scrollable');
        scrollableContainer.addEventListener('wheel', function(event){
            this.scrollLeft += event.deltaY + event.deltaX; // scroll on mouse or touchpad 
            event.preventDefault()
        });
    </script>
</body>
</html>