<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <a href="/"><h2>REFRESH</h2></a>
        <h1>WEATHER APP</h1>
        {% if city %}
        <h2>{{ city }}</h2>
        {% else %}
        <h2>CITY</h2>
        {% endif %}
    </header>
    <main>
        <section id="temperature">
            <h1>TEMPERATURE</h1>
            <div id="tempdata">
            <div>
            {% if temp_data %}
                <h2>{{ temp_data['days'][0] }}</h2>
                {% for index in range((temp_data['data'] | length) // 2 - 3) %}
                    <h3>{{ temp_data['hours'][index] }} : {{ temp_data['data'][index]}}{{ units['temperature_2m'] }}</h3>
                {% endfor %}
            </div>
            <div>
                <h2>{{ temp_data['days'][1] }}</h2>
                {% for index in range((temp_data['data'] | length) // 2 - 3, temp_data['data'] | length) %}
                    <h3>{{ temp_data['hours'][index] }} : {{ temp_data['data'][index] }}{{ units['temperature_2m'] }}</h3>
                {% endfor %}
            </div></div>
            {% else %}
                <h1>Missing data</h1>
            {% endif %}
        </section>
        <section id="humidity"></section>
        <section id="percipitation"></section>
        <section id="pressure"></section>
        <section id="clouds"></section>
        <section id="wind_speed"></section>
        <section id="wind_direction"></section>
    </main>
    <footer>
        Made by F4s0lix
    </footer>
</body>
</html>