<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <a href="/"><h2>REFRESH</h2></a>
        <h1>WEATHER APP</h1>
        {% if city %}
        <h2>{{ city }}</h2>
        {% else %}
        <h2>CITY</h2>
        {% endif %}
    </header>
    <main>
        <section id="weather-scrollable">
            {% if weatherdata %}
            {% for index in range(weatherdata['time'] | length) %}
                <div class="weather-tile">
                    <h1>{{ weatherdata['time'][index] }}</h1>
                    <h3>{{ weatherdata['temperature_2m'][index] }}{{ units['temperature_2m'] }} {{ weatherdata['surface_pressure'][index] }}{{ units['surface_pressure'] }}</h3>
                    <h3>precipitation: {{ weatherdata['precipitation_probability'][index] }}{{ units['precipitation_probability'] }}</h3>
                    <h3>humidity: {{ weatherdata['relative_humidity_2m'][index] }}{{ units['relative_humidity_2m'] }}</h3>
                    <h3>cloud cover: {{ weatherdata['cloud_cover'][index] }}{{ units['cloud_cover'] }}</h3>
                    <h3>wind: {{ weatherdata['wind_speed_10m'][index] }}{{ units['wind_speed_10m'] }} {{weatherdata['wind_direction_10m'][index]}}</h3>
                </div>
            {% endfor %}
            {% else %}
            <h1>Missing data</h1>
            {% endif %}
        </section>
        <div>
        <img src="data:image/png;base64, {{ temperature_img }}" alt="temperature chart" loading="lazy">
        </div>
    </main>

    <script>
        // possible scrolling
        var scrollableContainer = document.getElementById('weather-scrollable');
        scrollableContainer.addEventListener('wheel', function(event){
            this.scrollLeft += event.deltaY + event.deltaX; // scroll on mouse or touchpad 
            event.preventDefault()
        });
    </script>

    <footer>
        Made by F4s0lix
    </footer>
</body>
</html>